body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 20px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card {
    background-color: #2a2a2a;
    border: 2px solid #4a4a4a;
    border-radius: 10px;
    padding: 20px;
    width: 280px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(255, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
    justify-content: center;
}

.card h2 {
    margin-top: 15px;
    font-size: 1.5em;
    color: #da0d0d;
}

.card h2::before {
    content: "🐉";
    margin-right: 10px;
    color: #da0d0d;
}

.card button {
    background-color: #da0d0d;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.10s ease;
}

.card button:hover {
    background-color: #a30d0d;
}

.card p::after {
    content: " ¡Explora más!";
    display: block;
    color: #da0d0d;
    margin-top: 5px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 600px) {
    .card {
        width: 90%;
    }
}